.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1em;
    width: calc(100% - 2em);
    vertical-align: top;
    max-width: 320px;
    margin-bottom: 3em;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    background: transparent;
    color: #9196A1;
    opacity: 0;
    text-align: center;
    transition: opacity 0.3s;
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    user-select: none;
    position: absolute;
    left: 0;
    width: 100%;
    color: #df6589;
    pointer-events: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.input__label::before,
.input__label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border: 4px solid #747981;
    transition: transform 0.3s;
}

.input__label::before {
    border-right: none;
}

.input__label::after {
    left: 50%;
    border-left: none;
}

.input__field:focus,
.input--filled .input__field {
    opacity: 1;
    transition-delay: 0.3s;
}

.input__field:focus+.input__label::before,
.input--filled .input__label::before {
    transform: translate3d(-10%, 0, 0);
}

.input__field:focus+.input__label::after,
.input--filled .input__label::after {
    transform: translate3d(10%, 0, 0);
}

.input__field:focus+.input__label .input__label-content,
.input--filled .input__label-content {
    animation: anim-2 0.3s forwards;
}

@keyframes anim-2 {
    50% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 1);
    }
    51% {
        opacity: 0;
        transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 3.7em, 0);
    }
}