$bodyBackground: #ffffff;
$bodyBackgroundText: #ffffff;
$headerBackground:#f9f8fb;
$navbarColor: #262626;
$headertitleColor: #262626;
$slikbtnColor: #ff6033;
$slikbtntextColor: #f9f8fb;
$aboutbackgroundColor: #00bdbd;
$servicesbackgroundColor: #70bfff;
$borderservicesColor: #9d9d9d;
$gallerybackgroundColor: #ffe92f;
$slikbtnColorgallery: #5585a2;
$slikbtnColorsubscribe: #96b92c;
$blogbackgroundColor: #b07cf7;
$slikbtnColorblog:#f72b3b;
$inputblogColor: #7adcdc;
$inputblogColor2: #00c4c4;
$inputblogColor3: #355b82;
$footertextColor: #b9b9b9;