$bodyBackground: #ffffff;
$bodyBackgroundText: #ffffff;
$headerBackground:#f9f8fb;
$navbarColor: #262626;
$headertitleColor: #262626;
$slikbtnColor: #ff6033;
$slikbtntextColor: #f9f8fb;
$aboutbackgroundColor: #00bdbd;
$servicesbackgroundColor: #70bfff;
$borderservicesColor: #9d9d9d;
$gallerybackgroundColor: #ffe92f;