body {
    font-size: 14px;
    font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
    color: #fff;
    background-color: #393D43;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.container {
    width: 100vw;
    min-height: 100vh; 
}

.header {
    background-color: #494E55;
    padding: 25px 15px;
    text-align: center;
    color: #EA8082;
}

.header-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header-description {
    font-size: 20px;
}

.main {
    min-height: calc(100vh - 117px - 78px);
    padding: 100px 15px;
}

.main-form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.form-label {
    display: block;
    background-color: #89849E;
    padding: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
}

.form-label:hover {
    background-color: #625F77;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.form-input {
    display: none;
}

.form-input:checked ~ span {
    text-decoration: line-through;
    color: #B5B6C6;
}

.form-input:checked + .form-title:before {
    background-color: red;
    width: 25px;
    height: 25px;
}

.form-row {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.form-title {
    font-size: 24px;
    padding-left: 10px;
    position: relative;
    padding-left: 30px;
}

.form-title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    background-color: green;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.form-description {
    font-size: 16px;
    color: #B5B6C6;
}

.footer {
    background-color: #494E55;
    padding: 25px 15px;
    text-align: center;
}

.footer-text {
    font-size: 24px;
}