body {
    // min-width: 320px;
    position: relative;
    font: 400 14px/1 Arial, sans-serif;
    color: $base-text-color;
    overflow-x: hidden;
    &.hidden {
        overflow: hidden;
    }
}

input {
    outline: none;
    @include transition(0.4s);
}

textarea {
    outline: none;
    color: $base-text-color;
    &:focus {
        color: $base-text-color;
    }
}

button,
input[type='submit'] {
    cursor: pointer;
    @include transition(0.4s);
    background: transparent;
    border: 1px solid $base-text-color;
    &:focus,
    &:active {
        outline: none;
    }
}

a {
    text-decoration: none;
    color: $base-text-color;
    cursor: pointer;
    @include transition(0.4s);
    &:hover {
        text-decoration: none;
    }
}

li {
    list-style: none;
}

main {
    background: #ececec;
}

.padding-left-none {
    padding-left: 0;
}

.padding-right-none {
    padding-right: 0;
}

.padding-right-left-none {
    padding-right: 0;
    padding-left: 0;
}

.clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

.img-cover {
    max-width: 100%;
    height: auto;
    display: block;
    @supports (object-fit: cover) {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img-contain {
    max-width: 100%;
    height: auto;
    display: block;
    @supports (object-fit: contain) {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.section__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.button-up {
    width: 50px;
    height: 50px;
    // border-radius: 6px;
    color: $black;
    border: 1px solid $black;
    // background-color: rgba(25, 111, 192, 0.3);
    // background-color: $yellow;
    background-color: transparent;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 24px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    z-index: 10;
    &.is-visible {
        opacity: 1;
        pointer-events: auto;
    }
    &:hover {
        // background-color: rgba(25, 111, 192, 0.7);
        background-color: $black;
        color: $yellow;
    }
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}