// Colors
$white: #ffffff;
$darkWhite: #fcfcfc;
$black: #000;
$base-text-color: $black;
$yellow: #ffe400;
$lightGray: #ebebeb;
$lightGray2: #dedede;
$lightGray3: #f0f0f0;
$gray: #5c6873;
$gray1: #333b46;
$gray2: #878787;
$darkGray: #665f60;
$darkGray1: #444444;
$iconwrapperColor1: #73c8b7;
$iconwrapperColor2: #31aae2;
$iconwrapperColor3: #c183d6;
$iconwrapperColor4: #eb768c;
$iconwrapperColor5: #ebd175;
$iconwrapperColor6: #718ac7;
$iconwrapperColor7: #4be3a4;
$red: #dc0000;