body {
  min-width: 320px;
  position: relative;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: $base-text-color;
  line-height: 1;
  overflow-x: hidden;
  &.hidden {
      overflow: hidden;
  }
}

input {
  outline: none;
  @include transition(0.5s);
}

textarea {
  color: $base-text-color;
  &:focus {
    color: $base-text-color;
  }
}

button,
input[type='submit'] {
  cursor: pointer;
  @include transition(0.5s);
  background: transparent;
  border: 1px solid $base-text-color;
  &:focus,
  &:active {
      outline: none;
  }
}

a {
  text-decoration: none;
  color: $base-text-color;
  cursor: pointer;
  @include transition(0.5s);
  &:hover {
      text-decoration: none;
  }
}

li {
  list-style: none;
}

main {
  background: #ececec;
}

.section__container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.button-up {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: $gray;
  border: 1px solid $gray;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 22px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  z-index: 10;
  &.is-visible {
    opacity: 1;
    pointer-events: auto;
  }
  &:hover {
    border-color: $yellow;
    color: $yellow;
  }
}