// Colors
$gray: #8c8c8c;
$darkGray: #303030;
$white: #fff;
$black: #000;
$yellow: #eecd31;
$base-text-color: $gray;

.padding-left-none {
    padding-left: 0;
}

.padding-right-none {
    padding-right: 0;
}

.padding-right-left-none {
    padding-right: 0;
    padding-left: 0;
}

.clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear:both;
    }
}

.img-cover {
    max-width: 100%;
    height: auto;
    display: block;
}

 .img-contain {
     max-width: 100%;
     height: auto;
     display: block;
 }
