$background: #fefefe;
$containerBackground: #464f54;
$titleboxBackground: #171717;
$titleboxTitle1: #777777;
$titleboxTitle2: #fefefe;
$titleboxBorder: #777777;
$inputCursor: #777777;
$editorBackground:#f7bd2c;
$contentBackground: #fefefe;
$contentBorder: #e8eced;
$contentData: #b5b5b5;
$contentTitle: #171717;
$contentSubtitle: #8f8f8f;