body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: $backgroundText;
    min-width: 320px;
    overflow-x: hidden;
    background-color: $background;
}

a {
    color: $backgroundText;
}