.clients {
  min-height: 400px;
  background-color: $darkWhite;
  &__container {
    min-height: 400px;
    padding: 100px 15px;
    @include display-flex (column, flex-start, center);
    @media (min-width: 601px) and (max-width: 768px) {
      padding-top: 130px;
    }
    @media (max-width: 460px) {
      padding: 80px 10px 40px 10px;
    }
  }
  &__list {
    width: 100%;
    min-height: 70px;
    margin-bottom: 60px;
    @include display-flex (row, center, center);
    @media (max-width: 800px) {
      flex-wrap: wrap;
      margin-bottom: 40px;
    }
    @media (max-width: 460px) {
      margin-bottom: 20px;
    }
  }
  &__corner {
    display: none;
    @include transition(0.4s);
  }
  &__item {
    position: relative;
    min-height: 70px;
    margin: 0 15px;
    padding: 5px 10px;
    background-color: transparent;
    @include display-flex (row, center, center);
    cursor: pointer;
    @include transition(0.4s);
    &:hover {
      .clients__corner {
        display: block;
      }
    }
    @media (max-width: 800px) {
      margin: 10px 15px;
    }
    @media (max-width: 460px) {
      margin: 5px;
      padding: 5px;
    }
  }
  &__logo {
    color: $gray2;
  }
  &__description {
    max-width: 780px;
    text-align: center;
    font: 300 16px/1.5 Muli, sans-serif;
    color: $gray2;
    @media (max-width: 460px) {
      font-size: 14px;
      text-align: justify;
    }
  }
}