.locate {
  min-height: 100px;
  background-color: $black;
  overflow: hidden;
  &__container {
    width: 100%;
    min-height: 100px;
    @include display-flex(column, center, center);
  }
  &__btn-section {
    width: 100%;
    min-height: 100px;
    @include display-flex(row, center, center);
  }
  &__btn {
    position: relative;
    width: 280px;
    height: 60px;
    background-color: transparent;
    padding: 5px;
    @include display-flex(row, center, center);
    cursor: pointer;
    &:hover {
      .locate__btn-text {
        color: $yellow;
      }
      .locate__icon-wrapper {
        border: 1px solid $yellow;
        .locate__icon-arrow {
          border: 1px solid $yellow;
          border-width: 0px 0 1px 1px;
        }
      }
    }
  }
  &__btn-text {
    margin-right: 10px;
    font: 300 20px/1 Montserrat, sans-serif;
    text-transform: uppercase;
    color: $gray2;
    @include transition(0.4s);
  }
  &__icon-wrapper {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    border: 1px solid $gray2;
    border-radius: 50%;
    background-size: 14px auto;
    @include transition(0.4s);
    opacity: 1;
    pointer-events: none;
    &:hover {
      border: 1px solid $yellow;
      .locate__icon-arrow {
        border: 1px solid $yellow;
        border-width: 0px 0 1px 1px;
      }
    }
    &--visible {
      transform: rotate(-180deg);
    }
  }
  &__icon-arrow {
    display: block;
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: calc(50% - 3px);
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border: 1px solid $gray2;
    border-width: 0px 0 1px 1px;
    @include transition(0.4s);
    pointer-events: none;
    &:hover {
      border: 1px solid $yellow;
    }
  }
  &__map-wrapper {
    width: 100%;
    height: 0;
    min-height: 0;
    @include transition(1s);
    &--visible {
      min-height: 500px;
      background-color: $darkWhite;
    }
  }
  &__map {
    width: 100%;
    height: 100%;
  }
}