.responsive {
    min-height: 570px;
    background: url('./../img/responsive-bg.png') center no-repeat;
    background-size: cover;
    &__container {
        min-height: 570px;
        padding: 100px 15px;
        @include display-flex(column,
        center,
        flex-start);
        @media (max-width: 460px) {
            padding: 80px 15px;
        }
    }
    &__title {
        position: relative;
        z-index: 2;
        margin-bottom: 20px;
        font: 700 34px/1 'Montserrat', san-serif;
        text-transform: uppercase;
        color: $gray1;
        letter-spacing: 0.04em;
        &:before {
            position: absolute;
            z-index: -1;
            content: 'responsive';
            top: -48px;
            left: -2px;
            font: 900 90px/1 'Montserrat', san-serif;
            color: $lightGray3;
            @media (max-width: 768px) {
                top: -29px;
                font-size: 60px;
            }
            @media (max-width: 460px) {
                top: -19px;
                font-size: 40px;
            }
        }
        span {
            color: $yellow;
        }
        @media (max-width: 768px) {
            font-size: 26px;
        }
        @media (max-width: 460px) {
            font-size: 18px;
        }
    }
    &__description {
        max-width: 580px;
        margin-bottom: 50px;
        font: 300 16px/1.5 'Muli', san-serif;
        letter-spacing: 0.04em;
        color: $gray;
    }
    &__features-block {
        margin-bottom: 50px;
        @include display-flex(column,
        space-between,
        flex-start);
    }
    &__features {
        margin-bottom: 20px;
        @include display-flex(row,
        flex-start,
        center);
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &__features-item {
        margin-left: 14px;
        font: 400 16px/1 'Muli', san-serif;
        color: $gray;
    }
    &__btn {
        width: 130px;
        height: 45px;
        border: 1px solid transparent;
        background-color: $yellow;
        font: 500 13px/1 'Montserrat', san-serif;
        text-transform: uppercase;
        color: $black;
        @include transition(0.4s);
        &:hover {
            color: $yellow;
            background-color: $black;
        }
    }
}