body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: $darkGray;
    min-width: 320px;
    overflow-x: hidden;
    background-color: $lightGray;
}

a {
    color: $darkGray;
}