$headerBackground: #eee;
$headerText: #303030;
$headerHoverLink:#e10011;
$headerIcon:#303030;
$headerLinktext:#e10011;
$headerHoverBtn: #e10011;
$red: #e10011;
$darkGray: #303030;
$white: #fff;
$lightGray: #eee;
$overlay-link: #fff;
$item-overlay: rgba(225, 0, 17, .8);
$footerText:#303030;
$footerCopy: #979797;
$contentBackground: #fff;
$btn: #e10011;