* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  min-width: 320px;
  overflow-x: hidden; }

.header {
  background-color: #eee; }
  .header__container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 900px) {
      .header__container {
        flex-direction: column;
        justify-content: center; } }
    @media (max-width: 600px) {
      .header__container {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap; } }
  .header__logo {
    width: 150px;
    height: 40px;
    background-color: #999; }
    @media (max-width: 900px) {
      .header__logo {
        margin-bottom: 15px; } }
    @media (max-width: 600px) {
      .header__logo {
        margin-bottom: 0; } }
  .header__nav {
    display: flex;
    align-items: center; }
    @media (max-width: 900px) {
      .header__nav {
        width: 100%; } }
    @media (max-width: 600px) {
      .header__nav {
        display: none; }
        .header__nav.header__nav--open {
          display: block; } }

.nav__btn {
  display: none;
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out; }
  @media (max-width: 600px) {
    .nav__btn {
      display: block; } }
  .nav__btn:hover {
    background-color: #eaeaea; }
  .nav__btn span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #000;
    margin: 0 auto 3px;
    transition: all 0.3s ease-in-out; }
    .nav__btn span:last-of-type {
      margin-bottom: 0; }
  .nav__btn--animate {
    position: relative;
    border: none;
    background-color: transparent; }
    .nav__btn--animate span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .nav__btn--animate span:first-of-type {
        transform: translate(-50%, -50%) rotate(225deg); }
      .nav__btn--animate span:nth-of-type(2) {
        opacity: 0;
        transform: scale(0); }
      .nav__btn--animate span:last-of-type {
        transform: translate(-50%, -50%) rotate(-225deg); }
.nav__list {
  display: flex;
  align-items: center; }
  @media (max-width: 900px) {
    .nav__list {
      width: 100%; } }
  @media (max-width: 600px) {
    .nav__list {
      flex-direction: column; } }
.nav__item {
  margin-left: 70px;
  list-style: none;
  padding: 0 10px;
  position: relative; }
  .nav__item:first-of-type {
    margin-left: 0; }
  .nav__item > ul {
    position: absolute;
    display: none; }
  .nav__item:hover > ul {
    display: block; }
  @media (max-width: 1100px) {
    .nav__item {
      margin-left: 35px; } }
  @media (max-width: 900px) {
    .nav__item {
      padding: 0;
      flex-grow: 1;
      text-align: center; } }
  @media (max-width: 600px) {
    .nav__item {
      margin-left: 0;
      padding: 5px 0; } }
  .nav__item a {
    text-decoration: none; }

/*# sourceMappingURL=main.css.map */
