.impressed {
    min-height: 416px;
    background: url('./../img/impressed-bg.png') center / cover no-repeat;
    &__container {
        min-height: 416px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        text-transform: uppercase;
        color: $white1;
        font-size: 30px;
        font-family: 'Lato';
        font-weight: 700;
        letter-spacing: 0.04em;
        margin-bottom: 50px;
        // margin-top: 75px;
    }
    &__description {
        max-width: 750px;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 13px;
        margin-bottom: 50px;
        color: $white1;
        text-align: center;
        letter-spacing: 0.04em;
    }
    &__btn-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__btn {
        width: 170px;
        height: 50px;
        font-size: 13px;
        font-family: 'Lato';
        font-weight: 400;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        @include transition(0.4s);
        &--left {
            color: $black;
            border: 1px solid $yellow;
            background-color: $yellow;
            margin-right: 24px;
        }
        &--right {
            color: $black;
            border: 1px solid $white1;
            background-color: $white1;
        }
        &:hover {
            color: $darkWhite;
            background-color: $darkGray;
            border: 1px solid $white1;
        }
    }
}