// Colors
$white: #ffffff;
$black: #000;
$base-text-color: $black;
// $green: #19bd9a;
$green: #196fc0;
$gray: #5c6873;
$gray1: #333b46;
$gray2: #464646;
$lightgray1: #f3f3f3;
$lightgray3: #dbdbdb;
$blue: #196fc0;