/* Colors */

$black: #000;
$base-text-color: $black;
$white: #ffffff;
$gray: #dddddd;
$gray1: #5c5c5c;
$gray2: #a3a3a3;
$gray3: #ecf0f1;
$gray4: #777777;
$gray5: #c1c1c1;
$red: #dc0000;
$darkGray: #333333;