body
	min-width 320px
	position relative
	font-size 14px
	font-family 'Roboto', sans-serif
	font-weight 400
	color base-text-color
	line-height 1
	overflow-x hidden
	background yellow
	&.hidden
		overflow hidden
		
input
	required valid
	outline none
	transition(0.5s)
	&:focus
		required invalid

textarea
	required valid
	color base-text-color
	&:focus
		required invalid
		color base-text-color

button
input[type='submit']
	cursor pointer
	transition(0.5s)
	background transparent
	border 1px solid base-text-color
	&:focus
	&:active
		outline none
		
a
	text-decoration none
	color base-text-color
	cursor pointer
	transition(0.5s)
	&:hover
		text-decoration none

li
	list-style none
	

.main__container
	width 1300px
	max-width 100%
	margin 0 auto
	padding 0 15px
	