/* Basis */
/* Reset */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,600,700,700i");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:after, *:before {
    box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
img,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  overline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0; }

/* Colors */
/* Fonts */
/* Mixins */
/* Base */
body {
  min-width: 320px;
  position: relative;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #000;
  line-height: 1;
  overflow-x: hidden; }
  body.hidden {
    overflow: hidden; }

input {
  required: valid;
  outline: none;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; }
  input:focus {
    required: invalid; }

textarea {
  required: valid;
  outline: none;
  color: #000; }
  textarea:focus {
    required: invalid;
    color: #000; }

button,
input[type='submit'] {
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background: transparent;
  border: 1px solid #000; }
  button:focus, button:active,
  input[type='submit']:focus,
  input[type='submit']:active {
    outline: none; }

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; }
  a:hover {
    text-decoration: none; }

li {
  list-style: none; }

main {
  background: #ececec; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }
.clearfix:after {
  clear: both; }

.img-cover {
  max-width: 100%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.img-contain {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain; }

.section__container {
  width: 100%;
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto; }

/* Sections */
.main-screen {
  min-height: 100vh;
  background: url("./../img/main-screen-bg.png") center/cover no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 2; }
  .main-screen__container {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px; }
  .main-screen__title {
    margin-bottom: 24px;
    font: 700 50px/1 Roboto, sans-serif;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #ffffff; }
  .main-screen__subtitle {
    margin-bottom: 40px;
    font: 300 28px/1 Roboto, sans-serif;
    letter-spacing: 0.005em;
    color: #c5bfbf; }
    .main-screen__subtitle span {
      color: #fcff19; }
  .main-screen__btn {
    width: 123px;
    height: 43px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    font: 700 12px/1 Roboto, sans-serif;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #000; }
    .main-screen__btn:hover {
      background-color: #000;
      color: #fcff19; }
  .main-screen__scroll-link {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); }

.main-screen-slider__controls {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
.main-screen-slider__btn {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #ffffff;
  margin: 0 30px;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out; }
  .main-screen-slider__btn--left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 1px 3px 0 0; }
    .main-screen-slider__btn--left:hover {
      border: 1px solid #fcff19;
      color: #fcff19; }
  .main-screen-slider__btn--right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 1px 0 0 3px; }
    .main-screen-slider__btn--right:hover {
      border: 1px solid #fcff19;
      color: #fcff19; }

.header__container {
  min-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  z-index: 3; }
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 4; }
.header__item-wrapper {
  position: relative;
  margin-left: 35px;
  z-index: 5; }
  .header__item-wrapper:hover .header__item-overlay {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out; }
.header__nav-item {
  position: relative;
  padding: 10px 10px 16px 10px;
  border-radius: 10px 10px 0 0;
  font: 700 15px/1 Roboto, sans-serif;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  z-index: 6; }
  .header__nav-item:hover {
    background-color: #fcff19;
    color: #000;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out; }
.header__item-overlay {
  position: absolute;
  width: 190px;
  min-height: 110px;
  bottom: -128px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10px;
  border-radius: 0 10px 10px 10px;
  background-color: #fcff19;
  opacity: 0;
  pointer-events: none;
  z-index: 7; }
.header__overlay-link {
  font: 700 15px/2.1 Roboto, sans-serif;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #000; }

.categories {
  min-height: 630px;
  background: #ffffff url("./../img/categories-bg.png") center/cover no-repeat;
  background-attachment: fixed; }
  .categories__container {
    min-height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .categories__title {
    margin-top: 70px;
    margin-bottom: 70px;
    font: 700 28px/1 Roboto, sans-serif;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #000; }
  .categories__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .categories__item {
    width: 346px;
    height: 288px;
    margin-right: 29px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out; }
    .categories__item:last-of-type {
      margin-right: 0; }
  .categories__img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden; }
  .categories__item-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent; }
    .categories__item-wrapper:hover .categories__item-overlay {
      opacity: 1;
      pointer-events: auto;
      cursor: pointer;
      transition-property: all;
      transition-duration: 0.4s;
      transition-timing-function: ease-in-out; }
  .categories__item-title {
    margin-bottom: 10px;
    text-align: center;
    font: 700 15px/1 Roboto, sans-serif;
    letter-spacing: 0.005;
    text-transform: uppercase;
    color: #fcff19;
    text-align: center; }
  .categories__item-description {
    text-align: center;
    font: 300 16px/1 Roboto, sans-serif;
    letter-spacing: 0.005;
    color: #ffffff;
    text-align: center; }
  .categories__item-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("./../img/hover-filter-categories.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out; }
  .categories__overlay-btn {
    width: 125px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 38px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    font: 700 12px/1 Robot0, sans-serif;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #ffffff; }
    .categories__overlay-btn:hover {
      border: 2px solid #fcff19;
      color: #fcff19; }

.popular {
  min-height: 630px;
  background-color: #ffffff; }
  .popular__container {
    width: 100%;
    min-height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px; }
  .popular__title {
    margin-top: 40px;
    margin-bottom: 40px;
    font: 700 28px/1 Roboto, sans-serif;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #000; }
  .popular__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px; }
  .popular__item {
    width: calc((100% - 360px)/3);
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out; }
  .popular__image-wrapper {
    width: 100%;
    height: auto;
    margin-bottom: 30px; }
  .popular__img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .popular__order-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .popular__order-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .popular__order-title {
    font: 700 15px/1.5 Roboto, sans-serif;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #000; }
  .popular__order-price {
    font: 300 15px/1.5 Roboto, sans-serif;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #000; }
  .popular__order-option {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
  .popular__option-select {
    width: 135px;
    height: 43px;
    position: relative;
    z-index: 1; }
  .popular__select-list {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border: 1px solid #b7b7b7;
    border-radius: 8px;
    background-color: #b7b7b7;
    font: 700 12px/1 Roboto, sans-serif;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #ffffff;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out; }
    .popular__select-list:hover {
      border: 1px solid #000;
      background-color: transparent;
      color: #000;
      outline: none; }
      .popular__select-list:hover .popular__select-icon {
        color: #000; }
    .popular__select-list:focus {
      border: 1px solid #000;
      background-color: transparent;
      color: #000;
      outline: none; }
      .popular__select-list:focus .popular__select-icon {
        color: #000; }
  .popular__select-icon {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    z-index: 2;
    background: transparent;
    pointer-events: none; }
    .popular__select-icon:hover {
      color: #000; }
  .popular__order-btn {
    width: 85px;
    height: 43px;
    margin-left: 10px;
    border: 1px solid #b7b7b7;
    border-radius: 8px;
    background-color: #b7b7b7;
    font: 700 12px/1 Roboto, sans-serif;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out; }
    .popular__order-btn:hover {
      border: 1px solid #000;
      background-color: #000;
      color: #fcff19; }

.contact {
  min-height: 630px;
  background: #ffffff url("./../img/contact-bg.png") center/cover no-repeat;
  background-attachment: fixed; }
  .contact__container {
    min-height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contact__title {
    margin-bottom: 55px;
    font: 700 28px/1 Roboto, sans-serif;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #000; }
  .contact__subtitle {
    margin-bottom: 40px;
    font: 500 15px/1 Roboto, sans-serif;
    letter-spacing: 0.005em;
    color: #000; }
  .contact__form {
    width: 450px;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .contact__input-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .contact__input {
    width: calc((100% - 20px)/2);
    height: 45px;
    margin-bottom: 20px;
    padding: 0 25px;
    border: 1px solid #dadada;
    border-radius: 8px;
    background-color: #ffffff;
    font: italic 400 12px/1 Roboto, sans-serif;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #808080;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    cursor: pointer; }
    .contact__input--email {
      width: 100%; }
    .contact__input:hover {
      background-color: #ffffff;
      border: 1px solid #fcff19; }
    .contact__input:focus {
      background-color: #ffffff;
      border: 1px solid #000; }
  .contact__textarea {
    resize: none;
    width: 100%;
    min-height: 155px;
    margin-bottom: 20px;
    padding: 15px 25px 0 25px;
    border: 1px solid #dadada;
    border-radius: 8px;
    background-color: #ffffff;
    font: italic 400 12px/1 Roboto, sans-serif;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #808080;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    cursor: pointer; }
    .contact__textarea:hover {
      background-color: #ffffff;
      border: 1px solid #fcff19; }
    .contact__textarea:focus {
      background-color: #ffffff;
      border: 1px solid #000; }
  .contact__btn {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid #b7b7b7;
    background-color: #b7b7b7;
    font: 700 12px/1 Roboto, sans-serif;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #ffffff;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    cursor: pointer; }
    .contact__btn:hover {
      background-color: transparent;
      border: 1px solid #000;
      color: #000; }

.contact__input::-webkit-input-placeholder {
  font: italic 400 12px/1 Roboto, sans-serif;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #808080;
  opacity: 1;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  text-overflow: ellipsis; }

textarea::-webkit-input-placeholder {
  font: italic 400 12px/1 Roboto, sans-serif;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #808080;
  opacity: 1;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out; }

.footer {
  background-color: #fcff19; }
  .footer__container {
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
  .footer__nav-item {
    margin-left: 35px;
    padding: 4px 2px 2px 2px;
    border: 1px solid transparent;
    font: 700 15px/1 Roboto, sans-serif;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out; }
    .footer__nav-item:hover {
      border: 1px solid #000; }

/*# sourceMappingURL=main.css.map */
