header.header
  p.name-class Test Header :)
  div fjk lwefiwek.fhiwelufhl 
    div f wkfiwelhfiwelfiweuhf
  .name-class w; lefolifhoilh
    p 
      | The pipe always goes at the beginning of its own line,
      | not counting indentation.
    button#self-destruct touch
    a(href='#' src='fwnljekfhweil u')  lufwh iflhwe il

    p
      span
        | text f jw;fj 
      span 
        | fw jgfil

    p.
      wkhefghiwlefghi uwle hf

    a(href="#")
      img(src="", alt="")
