// Colors
$gray: #757575;
$gray1: #e6e6e6;
$darkGray: #444444;
$darkGray2: #2a2a2a;
$darkGray3: #212121;
$darkGray4: #878787;
$darkGray5: #b7b7b7;
$darkGray6: #5a5a5a;
$darkGray7: #808080;
$darkGray8: #2e2d2d;
$darkGray9: #797979;
$white: #fff;
$white1: #ffffff;
$black: #000;
$yellow: #ffe400;
$yellow1: #e6cf00;
$darkWhite: #fcfcfc;
$lightGray: #e3e3e3;
$lightGray1: #c2c2c3;
$lightGray2: #ebebeb;
$lightGray3: #dedede;
$base-text-color: $gray;
$shadowColor: #f0f0f0;
$midlleWhite: #fdfdfd;
$iconwrapperColor1: #73c8b7;
$iconwrapperColor2: #31aae2;
$iconwrapperColor3: #c183d6;
$iconwrapperColor4: #eb768c;
$iconwrapperColor5: #ebd175;
$iconwrapperColor6: #718ac7;
$iconwrapperColor7: #4be3a4;
.padding-left-none {
    padding-left: 0;
}

.padding-right-none {
    padding-right: 0;
}

.padding-right-left-none {
    padding-right: 0;
    padding-left: 0;
}

.clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

.img-cover {
    max-width: 100%;
    height: auto;
    display: block;
    @supports (object-fit: cover) {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img-contain {
    max-width: 100%;
    height: auto;
    display: block;
    @supports (object-fit: contain) {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}