.awesome-projects {
    min-height: 250px;
    background-color: $lightgray1;
    &__container {
        min-height: 250px;
        @include display-flex(column, flex-start, center);
        padding: 80px 15px;
    }
    &__title {
        margin-bottom: 40px;
        font: 400 40px/1 Source Sans Pro, sans-serif;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: $gray1;
        text-align: center;
        @media (max-width: 768px) {
            margin-bottom: 20px;
            font-size: 36px;
        }
    }
    &__subtitle {
        max-width: 810px;
        margin-bottom: 60px;
        text-align: center;
        font: 300 14px/1.7 Open Sans, sans-serif;
        letter-spacing: 0.05em;
        color: $gray;
        text-align: center;
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &__list {
        width: 100%;
        @include display-flex(row, space-between, center);
        @media (max-width: 1024px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__item {
        width: 100%;
        max-width: 175px;
        @include display-flex(row, center, center);
        cursor: pointer;
        @include transition(0.4s);
        &:hover {
            .awesome-projects__item-title {
                color: $green;
            }
        }
        @media (max-width: 1024px) {
            margin: 10px 50px;
        }
        @media (max-width: 768px) {
            justify-content: flex-start
        }
    }
    &__logo {
        border: 1px solid $black;
        width: 25px;
        height: 25px;
        position: relative;
        margin: 0 12px;
        border-radius: 3px;
        background-color: $gray1;
        border: 1px solid $black;
    }
    &__img {
        position: absolute;
        top: 0;
        right: 0;
        &--themeforest {
            left: 5px;
        }
        &--audiojungle {
            left: 0;
        }
        &--codecanyon {
            top: -4px;
            left: -2px;
        }
        &--activeden {
            top: 2px;
            left: -1px;
        }
    }
    &__item-title {
        font: 300 25px/1 Source Sans Pro, sans-serif;
        color: $gray1;
        &:hover {
            color: $green;
        }
    }
}