.main-screen {
    position: relative;
    min-height: 100vh;
    background: fixed url('./../img/main-screen-bg.png') center center / cover no-repeat;
    z-index: 1;
    &__slider-item {
        min-height: 100vh;
        padding: 15px 60px;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &--adaptive-menu {
            padding-top: 203px;
        }
    }
    &__item-title {
        margin-bottom: 40px;
        font: 300 36px/1 Source Sans Pro, san-serif;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: $white;
        text-align: center;
        @media (max-width: 600px) {
            font-size: 30px;
        }
        @media (max-width: 480px) {
            margin-bottom: 30px;
        }
        @media (max-width: 400px) {
            font-size: 28px;
            margin-bottom: 20px;
        }
    }
    &__item-subtitle {
        width: 100%;
        max-width: 610px;
        margin-bottom: 60px;
        font: 400 16px/1.75 Open Sans, san-serif;
        letter-spacing: 0.05em;
        color: $white;
        text-align: center;
        @media (max-width: 600px) {
            font-size: 14px;
            font-weight: 300px;
            letter-spacing: 0;
        }
        @media (max-width: 480px) {
            margin-bottom: 40px;
            font-size: 13px;
        }
        @media (max-width: 400px) {
            line-height: 1.5;
        }
    }
    &__item-btn {
        width: 150px;
        height: 55px;
        border: 1px solid $white;
        border-radius: 15px;
        font: 400 16px/1 Open Sans, san-serif;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $white;
        &:hover {
            border: 1px solid $green;
            color: $green;
        }
        @media (max-width: 600px) {
            width: 130px;
            height: 45px;
            font-size: 14px;
            font-weight: 300px;
        }
    }
    &__slider-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        outline: none;
        font-size: 30px;
        color: $white;
        z-index: 9;
        &:hover {
            color: $green;
        }
        &--prev {
            left: 30px;
        }
        &--next {
            right: 30px;
        }
    }
    // .slick-dots {
    //     position: absolute;
    //     left: 50%;
    //     bottom: 30px;
    //     transform: translateX(-50%);
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     li {
    //         width: 14px;
    //         height: 14px;
    //         background-color: $white;
    //         border-radius: 50%;
    //         margin-right: 14px;
    //         cursor: pointer;
    //         button {
    //             display: block;
    //             border: none;
    //             font-size: 0;
    //         }
    //         &:last-of-type {
    //             margin-right: 0;
    //         }
    //         &.slick-active {
    //             background-color: $green;
    //         }
    //     }
    // }
    .slick-dots {
        width: 100%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            flex-grow: 1;
            height: 6px;
            background-color: $white;
            border: none;
            list-style: none;
            cursor: pointer;
            button {
                display: block;
                border: none;
                font-size: 0;
            }
            &.slick-active {
                background-color: $green;
            }
        }
    }
}

.scroll-down {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    border: 1px solid $white;
    border-radius: 50%;
    background-size: 14px auto;
    opacity: 1;
    z-index: 2;
    animation: bounce 2s infinite 2s;
    -webkit-animation: bounce 2s infinite 2s;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    &:before {
        display: block;
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        top: calc(50% - 8px);
        left: calc(50% - 6px);
        transform: rotate(-45deg);
        border: 2px solid $white;
        border-width: 0px 0 2px 2px;
    }
    &:hover {
        border: 1px solid $green;
    }
}