.portfolio {
    min-height: 400px;
    background-color: $lightgray1;
    &__container {
        min-height: 400px;
        @include display-flex(column, flex-start, center);
        padding: 80px 15px;
    }
    &__title {
        margin-bottom: 40px;
        font: 400 40px/1 Source Sans Pro, sans-serif;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: $gray1;
        text-align: center;
        @media (max-width: 768px) {
            margin-bottom: 20px;
            font-size: 36px;
        }
    }
    &__subtitle {
        max-width: 810px;
        margin-bottom: 40px;
        text-align: center;
        font: 300 14px/1.7 Open Sans, sans-serif;
        letter-spacing: 0.05em;
        color: $gray;
        text-align: center;
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &__nav {
        @include display-flex(row, space-between, center);
        margin-bottom: 45px;
        @media (max-width: 450px) {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 15px;
        }
    }
    &__nav-item {
        display: block;
        position: relative;
        margin-right: 35px;
        padding-bottom: 15px;
        border: none;
        border-bottom: 2px solid transparent;
        font: 400 16px/1 Open Sans, sans-serif;
        color: $gray1;
        cursor: pointer;
        &:last-of-type {
            margin-right: 0;
        }
        &.active,
        &:hover {
            border-bottom: 2px solid $green;
            color: $green;
        }
        @media (max-width: 450px) {
            margin-bottom: 10px;
        }
        @media (max-width: 400px) {
            &:nth-of-type(4) {
                margin-right: 0;
            }
        }
        @media (max-width: 360px) {
            &:nth-of-type(3) {
                margin-right: 0;
            }
            &:nth-of-type(4) {
                margin-right: 35px;
            }
        }
    }
    &__grid {
        width: 100%;
        min-height: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__grid-item {
        width: calc(100%/4);
        height: 340px;
        padding: 5px;
        @media (max-width: 1000px) {
            width: calc(100%/3);
        }
        @media (max-width: 700px) {
            width: calc(100%/2);
        }
        @media (max-width: 470px) {
            width: 100%;
        }
    }
}