/* BASE */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:after, *:before {
    box-sizing: border-box; }

h1, h2, h3, h4, h5,
h6,
p,
ul,
li,
a,
img,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  overline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0; }

.padding-left-none {
  padding-left: 0; }

.padding-right-none {
  padding-right: 0; }

.padding-right-left-none {
  padding-right: 0;
  padding-left: 0; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }
.clearfix:after {
  clear: both; }

.img-cover {
  max-width: 100%;
  height: auto;
  display: block; }
  @supports (object-fit: cover) {
    .img-cover {
      width: 100%;
      height: 100%;
      object-fit: cover; } }

.img-contain {
  max-width: 100%;
  height: auto;
  display: block; }
  @supports (object-fit: contain) {
    .img-contain {
      width: 100%;
      height: 100%;
      object-fit: contain; } }

.padding-left-none {
  padding-left: 0; }

.padding-right-none {
  padding-right: 0; }

.padding-right-left-none {
  padding-right: 0;
  padding-left: 0; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table; }
.clearfix:after {
  clear: both; }

.img-cover {
  max-width: 100%;
  height: auto;
  display: block; }
  @supports (object-fit: cover) {
    .img-cover {
      width: 100%;
      height: 100%;
      object-fit: cover; } }

.img-contain {
  max-width: 100%;
  height: auto;
  display: block; }
  @supports (object-fit: contain) {
    .img-contain {
      width: 100%;
      height: 100%;
      object-fit: contain; } }

body {
  min-width: 320px;
  position: relative;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #757575;
  line-height: 1;
  overflow-x: hidden; }
  body.hidden {
    overflow: hidden; }

input {
  required: valid;
  outline: none;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; }
  input:focus {
    required: invalid; }

textarea {
  required: valid;
  color: #757575; }
  textarea:focus {
    required: invalid;
    color: #757575; }

button,
input[type='submit'] {
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  background: transparent;
  border: 1px solid #757575; }
  button:focus, button:active,
  input[type='submit']:focus,
  input[type='submit']:active {
    outline: none; }

a {
  text-decoration: none;
  color: #757575;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; }
  a:hover {
    text-decoration: none; }

li {
  list-style: none; }

main {
  background: #ececec; }

.section__container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

/* SECTIONS */
.main-screen {
  min-height: calc(100vh - 80px);
  background: #fcfcfc url("./../img/main-screen-bg.png") right bottom no-repeat;
  background-attachment: fixed; }
  .main-screen__slider-wrapper {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
  .main-screen__title {
    text-transform: uppercase;
    color: #444444;
    font-size: 60px;
    font-family: 'Montserrat';
    font-weight: 900;
    margin-bottom: 70px;
    position: relative;
    z-index: 2; }
    .main-screen__title:before {
      position: absolute;
      content: '';
      width: 190px;
      height: 190px;
      border-radius: 50%;
      top: 50%;
      left: -35px;
      transform: translateY(-50%);
      background-color: #ffe400;
      z-index: -1; }
    .main-screen__title span {
      display: block; }
  .main-screen__description {
    line-height: 1.7;
    max-width: 770px;
    margin-bottom: 20px; }
  .main-screen__btn {
    width: 176px;
    height: 54px;
    font-size: 16px;
    color: #444444;
    border: 1px solid #444444;
    background-color: 'transparent';
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 400;
    margin-bottom: 20px; }
    .main-screen__btn:hover {
      color: #fcfcfc;
      background-color: #444444; }
  .main-screen__pagination-item {
    width: 22px;
    height: 4px;
    margin-right: 4px;
    background-color: #e3e3e3;
    border: none; }
    .main-screen__pagination-item--active, .main-screen__pagination-item:hover {
      background-color: #444444; }

.header {
  background-color: #2a2a2a; }
  .header__container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__nav-item {
    text-transform: uppercase;
    margin-left: 60px;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.04em; }
    .header__nav-item--active, .header__nav-item:hover {
      color: #ffe400; }
    @media (max-width: 1060px) {
      .header__nav-item {
        display: none; } }
  .header__nav-btn {
    display: none;
    color: #fcfcfc;
    font-size: 24px;
    border: none; }
    .header__nav-btn:hover {
      color: #ffe400; }
    @media (max-width: 1060px) {
      .header__nav-btn {
        display: block; } }

/*# sourceMappingURL=main.css.map */
