/* Colors */

$gray: #5c6873;
$base-text-color: $gray;
$gray1: #3f444a;
$gray2: #4c4c4c;
$gray3: #afafaf;
$gray4: #6a6e72;
$main-screen-sliderGray: #525252;
$lightgray: #e1e2e3;
$lightgray1: #d7d7d7;
$lightgray2: #f8f8f8;
$lightgray3: #dbdbdb;
$section-borderLightgray: #ebebeb;
$white: #ffffff;
$black: #000;
$red: #ec4848;