.our-skills {
  padding: 120px 0 260px;
  background-color: #f7f7f7;
  text-align: center;
  &__title {
    font-size: 24px;
    color: $darkGray;
    font-weight: 900;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  &__description {
    font-size: 16px;
    color: $darkGray;
    line-height: 1.3;
    max-width: 550px;
    margin: 0 auto 10px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    flex: 1;
    margin-right: 25px;
    text-align: center;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__chart {
    .number {
      font-size: 30px !important;
    }
    .timer {
      fill: $darkGray;
    }
  }
  &__chart {
    margin-bottom: 10px;
  }
  &__item-title {
    font-size: 20px;
    color: $darkGray;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  &__item-description {
    font-size: 16px;
    color: $lightGray;
    line-height: 1.2;
  }
}
