.features {
    min-height: 965px;
    background-color: $white1;
    &__container {
        height: 965px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        text-transform: uppercase;
        color: $darkGray;
        font-size: 30px;
        font-family: 'Open Sans';
        font-weight: 700;
        margin-bottom: 130px;
        margin-top: 80px;
        position: relative;
        z-index: 2;
        &:before {
            content: 'features';
            position: absolute;
            font-size: 91px;
            font-family: 'Montserrat';
            font-weight: 900;
            top: -51px;
            left: 50%;
            transform: translateX(-50%);
            color: $shadowColor;
            z-index: -1;
        }
    }
    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: calc((100% - 40px)/3);
        height: 160px;
        margin-right: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
    }
    &__item:nth-of-type(3n+3) {
        margin-right: 0;
    }
    &__item:nth-of-type(n+7) {
        margin-bottom: 0;
    }
    &__icon-block {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__icon-wrapper {
        width: 66px;
        height: 66px;
        border-radius: 50%;
        background-color: $iconwrapperColor1;
        color: $white1;
        position: relative;
        &--color2 {
            background-color: $iconwrapperColor2;
        }
        &--color3 {
            background-color: $iconwrapperColor3;
        }
        &--color4 {
            background-color: $iconwrapperColor4;
        }
        &--color5 {
            background-color: $iconwrapperColor5;
        }
        &--color6 {
            background-color: $iconwrapperColor6;
        }
        &--color7 {
            background-color: $iconwrapperColor7;
        }
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
    }
    &__icon-data {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 12px 0 4px;
    }
    &__icon-title {
        text-transform: uppercase;
        color: $darkGray;
        font-size: 16px;
        font-family: 'Montserrat';
        font-weight: 700;
        margin-bottom: 30px;
    }
    &__icon-description {
        color: $gray;
        font-size: 13px;
        font-family: 'Muli';
        font-weight: 400;
        letter-spacing: 0.04em;
        line-height: 1.7;
    }
}