.news {
    min-height: 910px;
    background-color: $white1;
    &__container {
        height: 910px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        text-transform: uppercase;
        color: $darkGray;
        font-size: 30px;
        font-family: 'Open Sans';
        font-weight: 700;
        margin-bottom: 115px;
        position: relative;
        z-index: 2;
        &:before {
            content: 'news';
            position: absolute;
            font-size: 91px;
            font-family: 'Montserrat';
            font-weight: 900;
            top: -51px;
            left: 50%;
            transform: translateX(-50%);
            color: $shadowColor;
            z-index: -1;
        }
    }
    &__list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // border: 1px solid black;
    }
    &__item {
        width: calc((100% - 28px*3)/4);
        min-height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-right: 28px;
        background-color: $white1;
        position: relative;
        // border: 1px solid black;
        &:last-of-type {
            margin-right: 0;
        }
    }
    &__image-wrapper {
        width: 100%;
        height: 190px;
        overflow: hidden;
        position: relative;
        // border: 1px solid black;
    }
    &__data-wrapper {
        width: 100%;
        height: calc(430px - 190px);
        // border: 1px solid black;
        padding: 45px 20px 0 20px;
        background-color: $white1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }
    &__date {
        width: 144px;
        height: 34px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        border-radius: 34px;
        display: table;
        font-size: 13px;
        font-family: 'Montserrat';
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        color: $darkGray;
        background-color: $lightGray4;
        border: 1px solid $lightGray4;
    }
    &__date-align {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
    &__data-title {
        font-size: 16px;
        font-family: 'Montserrat';
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        color: $darkGray;
        margin-bottom: 10px;
    }
    &__data-subtitle {
        font-size: 11px;
        font-family: 'Montserrat';
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        color: $darkGray6;
        margin-bottom: 30px;
    }
    &__description {
        font-size: 14px;
        font-family: 'Open Sans';
        font-weight: 400;
        line-height: 1.5;
        color: $darkGray6;
        text-align: center;
        margin-bottom: 28px;
    }
    &__btn {
        width: 96px;
        height: 26px;
        border-radius: 26px;
        font-size: 10px;
        font-family: 'Montserrat';
        font-weight: 500;
        text-transform: uppercase;
        @include transition(0.4s);
        color: $darkGray;
        background-color: $lightGray4;
        border: 1px solid $lightGray4;
        cursor: pointer;
        &:hover {
            color: $black;
            background-color: $yellow;
            border: 1px solid $black;
        }
    }
}

.news-slider {
    &__controls {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__btn {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid $black;
        font-size: 14px;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include transition(0.4s);
        &--left {
            position: absolute;
            bottom: 36px;
            left: 18px;
            padding: 1px 2px 0 0;
            &:hover {
                border: 1px solid $black;
                background-color: $black;
                color: $white1;
            }
        }
        &--right {
            position: absolute;
            bottom: 36px;
            right: 18px;
            padding: 1px 0 0 2px;
            &:hover {
                border: 1px solid $black;
                background-color: $black;
                color: $white1;
            }
        }
    }
}

.news-video {
    &__control {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__btn {
        width: 56px;
        height: 56px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 1px solid $black;
        font-size: 28px;
        padding: 1px 0 0 5px;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @include transition(0.4s);
        &:hover {
            border: 1px solid $yellow;
            background-color: $yellow;
            color: $black;
        }
    }
}