.responsive {
    min-height: 700px;
    background: url('./../img/responsive-bg.png') center / cover no-repeat;
    &__container {
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__title {
        text-transform: uppercase;
        color: $darkGray;
        font-size: 26px;
        font-family: 'Montserrat';
        font-weight: 700;
        letter-spacing: 0.04em;
        margin-bottom: 55px;
        margin-top: 80px;
        position: relative;
        z-index: 2;
        &:before {
            content: 'responsive';
            position: absolute;
            font-size: 72px;
            font-family: 'Montserrat';
            font-weight: 900;
            top: -44px;
            left: -1px;
            color: $shadowColor;
            z-index: -1;
        }
    }
    &__description {
        line-height: 1.7;
        max-width: 540px;
        font-family: 'Muli';
        font-weight: 400;
        margin-bottom: 55px;
        color: $darkGray;
    }
    &__features-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 50px;
    }
    &__features {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    }
    &__features:last-of-type {
        margin-bottom: 0;
    }
    &__features-item {
        font-family: 'Muli';
        font-weight: 400;
        font-size: 16px;
        margin-left: 14px;
    }
    &__btn {
        width: 127px;
        height: 43px;
        font-size: 13px;
        color: $black;
        border: 1px solid transparent;
        background-color: $yellow;
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-weight: 500;
        text-transform: uppercase;
        @include transition(0.4s);
        &:hover {
            color: $darkWhite;
            background-color: $darkGray;
        }
    }
}