@mixin placeholder($color, $font-size, $font-family,  $opacity : 1) {
  &::-webkit-input-placeholder {
      color: $color;
      opacity: $opacity;
      font-size: $font-size;
      font-family: $font-family;
      text-transform: none;
  }
  &:-moz-placeholder {
      color: $color;
      opacity: $opacity;
      font-size: $font-size;
      font-family: $font-family;
      text-transform: none;
  }
  &::-moz-placeholder {
      color: $color;
      opacity: $opacity;
      font-size: $font-size;
      font-family: $font-family;
      text-transform: none;
  }
  &:-ms-input-placeholder {
      color: $color;
      opacity: $opacity;
      font-size: $font-size;
      font-family: $font-family;
      text-transform: none;
  }
}

@mixin transition($time: 0.3s) {
  transition: all $time ease-in-out;
}