// reset all browseers styles
@import "base/_reset.styl"

// variables
@import "base/_variables.styl"

// mixins
//@import "base/_mixins.styl"

// fonts
//@import "base/_fonts.styl"
//@import "../vendor/font-awesome/css/font-awesome.min.css"

// base style
@import "base/_base.styl"

// header
@import "layout/_header.styl"

// footer
@import "layout/_footer.styl"

// Pages

// media rules
@import "media/_media.styl"