$logoColor: #60606e;
$linkColor: #60606e;
$backgroundColor: #ffffff;
$maintextColor: #60606e;
$shadow: #7beec7;
$footerbackgroundColor: #7beec7;
$textColor: #ffffff;
$inputborder:#e5e5e5;
$inputColor: #cdcdcd;