body {
    min-width: 320px;
    position: relative;
    font: 400 14px/1 Arial, sans-serif;
    color: $base-text-color;
    overflow-x: hidden;
    &.hidden {
        overflow: hidden;
    }
}

input {
    outline: none;
    @include transition(0.4s);
}

textarea {
    outline: none;
    color: $base-text-color;
    &:focus {
        color: $base-text-color;
    }
}

button,
input[type='submit'] {
    cursor: pointer;
    @include transition(0.4s);
    background: transparent;
    border: 1px solid $base-text-color;
    &:focus,
    &:active {
        outline: none;
    }
}

a {
    text-decoration: none;
    color: $base-text-color;
    cursor: pointer;
    @include transition(0.4s);
    &:hover {
        text-decoration: none;
    }
}

li {
    list-style: none;
}

main {
    background: #ececec;
}

.padding-left-none {
    padding-left: 0;
}

.padding-right-none {
    padding-right: 0;
}

.padding-right-left-none {
    padding-right: 0;
    padding-left: 0;
}

.clearfix {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

.img-cover {
    max-width: 100%;
    height: auto;
    display: block;
    @supports (object-fit: cover) {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img-contain {
    max-width: 100%;
    height: auto;
    display: block;
    @supports (object-fit: contain) {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.section__container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}