.main-screen {
    min-height: 100vh;
    background: url('./../img/main-screen-bg.png') center / cover no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    &__container {
        min-height: 100vh;
        position: relative;
        @include display-flex(column,
        center,
        center);
    }
    &__title {
        margin-bottom: 48px;
        font: 700 48px/1 Roboto, sans-serif;
        text-transform: uppercase;
        color: $white;
    }
    &__devider {
        content: '';
        width: 90px;
        height: 1px;
        background-color: $white;
        margin-bottom: 50px;
    }
    &__subtitle {
        max-width: 600px;
        margin-bottom: 20px;
        font: 400 22px/1.3636 Lato, sans-serif;
        letter-spacing: 0.05em;
        text-align: center;
        color: $white;
    }
    &__btn {
        position: absolute;
        width: 90px;
        height: 90px;
        left: 50%;
        bottom: 45px;
        @include display-flex(column,
        center,
        center);
        transform: translateX(-50%);
        border: 1px solid $blue;
        border-radius: 50%;
        background-color: transparent;
        font-size: 60px;
        color: $blue;
        cursor: pointer;
        @include transition(0.4s);
        &:hover {
            border: 1px solid $white;
            color: $white;
        }
    }
}

.header {
    &__container {
        min-height: 100px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        @include display-flex(row,
        space-between,
        center);
        z-index: 2;
    }
    &__nav-item {
        margin-left: 50px;
        font: 400 14px/1 Lato, sans-serif;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        color: $white;
        cursor: pointer;
        @include transition(0.4s);
        &:hover {
            color: $black;
        }
        @media (max-width: 1024px) {
            display: none;
        }
    }
    &__nav-btn {
        display: none;
        color: $white;
        font-size: 20px;
        border: none;
        &:hover {
            color: $black;
        }
        @media (max-width: 1024px) {
            display: block;
        }
    }
}