.work {
    min-height: 950px;
    background-color: $white;
    &__container {
        min-height: 950px;
        padding: 15px;
        @include display-flex(column, center, center);
    }
    &__title {
        margin-bottom: 70px;
        font: 700 35px/1 Raleway, sans-serif;
        text-transform: uppercase;
        color: $black;
        @media (max-width: 800px) {
            margin-bottom: 42px;
            font-size: 30px;
        }
        @media (max-width: 600px) {
            margin-bottom: 22px;
            font-size: 26px;
        }
    }
    &__devider {
        content: '';
        width: 90px;
        height: 1px;
        background-color: $black;
        margin-bottom: 80px;
        @media (max-width: 800px) {
            margin-bottom: 50px;
        }
        @media (max-width: 600px) {
            margin-bottom: 30px;
        }
    }
    &__list {
        width: 100%;
        @include display-flex(row, space-between, center);
        margin-bottom: 80px;
        @media (max-width: 800px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: 600px) {
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 50px;
        }
        @media (max-width: 600px) {
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 30px;
        }
    }
    &__item {
        width: 100%;
        max-width: calc((100% - 60px)/3);
        height: 420px;
        position: relative;
        @include display-flex(column, flex-start, center);
        margin-right: 30px;
        border: 1px solid $gray;
        background-color: $gray;
        overflow: hidden;
        cursor: pointer;
        @include transition(0.4s);
        &:last-of-type {
            margin-right: 0;
        }
        &:hover {
            .work__item-overlay {
                opacity: 1;
                pointer-events: auto;
                cursor: pointer;
                @include transition(0.4s);
            }
        }
        @media (max-width: 800px) {
            max-width: calc((100% - 30px)/2);
            margin-bottom: 30px;
            &:nth-of-type(2) {
                margin-right: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        @media (max-width: 600px) {
            max-width: 100%;
            margin-right: 0;
        }
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__btn {
        width: 100%;
        max-width: 370px;
        height: 60px;
        border: 3px solid $black;
        font: 400 24px/1 Lato, sans-serif;
        text-transform: uppercase;
        color: $black;
        cursor: pointer;
        @include transition(0.4s);
        &:hover {
            border: 3px solid $blue1;
            color: $blue1;
        }
        @media (max-width: 400px) {
            width: 184px;
        }
    }
    &__item-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.7);
        top: 0;
        left: 0;
        display: flex;
        @include display-flex(column, center, center);
        opacity: 0;
        padding: 0 25px;
        pointer-events: none;
        @include transition(0.4s);
    }
    &__overlay-title {
        margin-top: 20px;
        margin-bottom: 30px;
        font: 400 22px/1 Lato, sans-serif;
        text-transform: uppercase;
        color: $white
    }
    &__overlay-link {
        color: $white;
        font-size: 50px;
        @include transition(0.4s);
        &:hover {
            color: $blue1;
        }
    }
}