.main-screen {
    min-height: 100vh;
    background: url('./../img/main-screen-bg.png') center / cover no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    &__container {
        min-height: 100vh;
        position: relative;
        @include display-flex(column,
        center,
        center);
        padding: 0 15px;
    }
    &__title {
        margin-bottom: 24px;
        font: 700 50px/1 Roboto, sans-serif;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: $white;
    }
    &__subtitle {
        margin-bottom: 40px;
        font: 300 28px/1 Roboto, sans-serif;
        letter-spacing: 0.005em;
        color: $gray4;
        span {
            color: $yellow;
        }
    }
    &__btn {
        width: 123px;
        height: 43px;
        border: none;
        border-radius: 8px;
        background-color: $white;
        font: 700 12px/1 Roboto, sans-serif;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: $black;
        &:hover {
            background-color: $black;
            color: $yellow;
        }
    }
    &__scroll-link {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.main-screen-slider {
    &__controls {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__btn {
        width: 60px;
        height: 60px;
        @include display-flex(row,
        center,
        center);
        border-radius: 6px;
        border: 1px solid $white;
        margin: 0 30px;
        font-size: 30px;
        color: $white;
        cursor: pointer;
        @include transition(0.4s);
        &--left {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            padding: 1px 3px 0 0;
            &:hover {
                border: 1px solid $yellow;
                color: $yellow;
            }
        }
        &--right {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            padding: 1px 0 0 3px;
            &:hover {
                border: 1px solid $yellow;
                color: $yellow;
            }
        }
    }
}

.header {
    &__container {
        min-height: 70px;
        @include display-flex(row,
        space-between,
        center);
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 10px;
        z-index: 3;
    }
    &__nav {
        @include display-flex(row,
        flex-end,
        center);
        z-index: 4;
    }
    &__item-wrapper {
        position: relative;
        margin-left: 35px;
        z-index: 5;
        &:hover {
            .header__item-overlay {
                opacity: 1;
                pointer-events: auto;
                cursor: pointer;
                @include transition(0.4s);
            }
        }
    }
    &__nav-item {
        position: relative;
        padding: 10px 10px 16px 10px;
        border-radius: 10px 10px 0 0;
        font: 700 15px/1 Roboto, sans-serif;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: $white;
        cursor: pointer;
        z-index: 6;
        &:hover {
            background-color: $yellow;
            color: $black;
            @include transition(0.4s);
        }
    }
    &__item-overlay {
        position: absolute;
        width: 190px;
        min-height: 110px;
        bottom: -128px;
        left: 0;
        @include display-flex(column,
        center,
        flex-start);
        padding: 0 10px;
        border-radius: 0 10px 10px 10px;
        background-color: $yellow;
        opacity: 0;
        pointer-events: none;
        z-index: 7;
    }
    &__overlay-link {
        font: 700 15px/2.1 Roboto, sans-serif;
        letter-spacing: 0.005em;
        text-transform: uppercase;
        color: $black;
    }
}