@keyframes animate-top {
    0% {
        opacity: 0
    }
    14.3% {
        opacity: 1
    }
    28.6% {
        opacity: 1
    }
    42.9% {
        opacity: 1
    }
    57.2% {
        opacity: 1
    }
    71.5% {
        opacity: 1
    }
    85.8% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@keyframes animate-top-right {
    0% {
        opacity: 1
    }
    14.3% {
        opacity: 0
    }
    28.6% {
        opacity: 1
    }
    42.9% {
        opacity: 1
    }
    57.2% {
        opacity: 1
    }
    71.5% {
        opacity: 1
    }
    85.8% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@keyframes animate-right {
    0% {
        opacity: 1
    }
    14.3% {
        opacity: 1
    }
    28.6% {
        opacity: 0
    }
    42.9% {
        opacity: 1
    }
    57.2% {
        opacity: 1
    }
    71.5% {
        opacity: 1
    }
    85.8% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@keyframes animate-bottom-right {
    0% {
        opacity: 1
    }
    14.3% {
        opacity: 1
    }
    28.6% {
        opacity: 1
    }
    42.9% {
        opacity: 0
    }
    57.2% {
        opacity: 1
    }
    71.5% {
        opacity: 1
    }
    85.8% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@keyframes animate-bottom {
    0% {
        opacity: 1
    }
    14.3% {
        opacity: 1
    }
    28.6% {
        opacity: 1
    }
    42.9% {
        opacity: 1
    }
    57.2% {
        opacity: 0
    }
    71.5% {
        opacity: 1
    }
    85.8% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@keyframes animate-bottom-left {
    0% {
        opacity: 1
    }
    14.3% {
        opacity: 1
    }
    28.6% {
        opacity: 1
    }
    42.9% {
        opacity: 1
    }
    57.2% {
        opacity: 1
    }
    71.5% {
        opacity: 0
    }
    85.8% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}

@keyframes animate-left {
    0% {
        opacity: 1
    }
    14.3% {
        opacity: 1
    }
    28.6% {
        opacity: 1
    }
    42.9% {
        opacity: 1
    }
    57.2% {
        opacity: 1
    }
    71.5% {
        opacity: 1
    }
    85.8% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes animate-top-left {
    0% {
        opacity: 1
    }
    14.3% {
        opacity: 1
    }
    28.6% {
        opacity: 1
    }
    42.9% {
        opacity: 1
    }
    57.2% {
        opacity: 1
    }
    71.5% {
        opacity: 1
    }
    85.8% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}