@font-face {
    font-family: 'HansKendrick';
    src: url('../fonts//hanskendrick-regular-webfont.woff2') format('woff2'), url('../fonts//hanskendrick-regular-webfont.woff') format('woff'), url('../fonts//hanskendrick-regular-webfont.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}