.twitter {
    min-height: 600px;
    background: $black url('./../img/twitter-bg.png') center center / cover no-repeat;
    &__container {
        min-height: 600px;
        @include display-flex (column,
        center,
        center);
    }
    &__icon-block {
        width: 95px;
        height: 95px;
        @include display-flex (row,
        center,
        center);
        margin-bottom: 35px;
    }
    &__icon-wrapper {
        width: 67px;
        height: 67px;
        @include display-flex (row,
        center,
        center);
        border: 2px solid $white;
        background-color: transparent;
        color: $white;
        transform: rotateZ(45deg);
    }
    &__icon {
        transform: rotateZ(-45deg);
    }
    &__title {
        font: 400 14px/1 Varela, sans-serif;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: $white;
    }
    &__devider {
        content: '';
        width: 50px;
        height: 1px;
        margin: 30px 0 50px;
        background-color: $gray2;
    }
    &__description {
        max-width: 840px;
        margin-bottom: 75px;
        text-align: center;
        font: 300 15px/1.6 Open Sans, sans-serif;
        color: $white;
        a {
            color: $blue;
            cursor: pointer;
        }
    }
    &__btn {
        width: 200px;
        height: 52px;
        border: 1px solid $blue;
        background-color: transparent;
        font: 400 13px/1 Varela, sans-serif;
        text-transform: uppercase;
        color: $blue;
        cursor: pointer;
        @include transition(0.4s);
        &:hover {
            background-color: $blue;
            border: 1px solid $blue;
            color: $white;
        }
    }
}