.our-service {
    min-height: 700px;
    background-color: $white;
    border-bottom: 1px solid $section-borderLightgray;
    &__container {
        min-height: 700px;
        @include display-flex(column, center, center);
    }
    &__title {
        margin-bottom: 50px;
        font: 700 40px/1 Roboto Condensed, sans-serif;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: $gray1;
        @media (max-width: 960px) {
            margin-top: 70px;
        }
        @media (max-width: 660px) {
            margin-top: 70px;
        }
    }
    &__list {
        width: 100%;
        @include display-flex(row, space-between, center);
        @media (max-width: 960px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        @media (max-width: 660px) {
            @include display-flex(column, space-between, center);
        }
    }
    &__item {
        width: calc((100% - 120px)/3);
        height: 460px;
        @include display-flex(column, center, center);
        padding: 20px;
        background-color: $white;
        border: 1px solid $lightgray3;
        border-radius: 10px;
        cursor: pointer;
        @include transition(0.4s);
        &:hover {
            background-color: $gray1;
            .our-service__item-title {
                color: $white;
            }
            .our-service__item-description {
                color: $white;
            }
            .our-service__icon-image {
                &--two {
                    display: none;
                }
                &--one {
                    display: block;
                }
            }
        }
        @media (max-width: 960px) {
            width: calc((100% - 60px)/2);
            margin-bottom: 70px;
        }
        @media (max-width: 660px) {
            width: 100%;
            margin-bottom: 70px;
        }
    }
    &__icon-wrapper {
        position: relative;
        margin-bottom: 60px;
        object-fit: contain;
        overflow: hidden;
    }
    &__icon-image {
        &--two {
            display: block;
        }
        &--one {
            display: none;
        }
    }
    &__item-title {
        margin-bottom: 20px;
        text-align: center;
        font: 600 22px/1 Roboto Condensed, sans-serif;
        letter-spacing: 0.01;
        text-transform: uppercase;
        color: $gray1;
    }
    &__item-description {
        max-width: 810px;
        margin-bottom: 40px;
        text-align: center;
        font: 300 18px/1.66666 Roboto Condensed, sans-serif;
        letter-spacing: 0.01em;
        color: $gray;
        text-align: center;
    }
    &__item-btn {
        width: 150px;
        height: 50px;
        border: none;
        font: 700 16px/1 Roboto Condensed, sans-serif;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        @include button-bg-2($red, $white);
        &:hover {
            border: 1px solid $white;
        }
    }
}