@import './units/_reset.scss';
@import './units/_fonts.scss';
@import './units/_colors.scss';
@import './units/_mixins.scss';
@import './units/_base.scss';
.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 900px;
    padding: 48px 70px 0 70px;
    margin: 20px auto;
    background-color: $containerBackground;
    /* section TITLEBOX  */
    &__titlebox {
        position: absolute;
        width: 100%;
        max-width: 876px;
        height: 188px;
        padding: 50px 0 50px 60px;
        right: 0;
        z-index: 1;
        background-color: $titleboxBackground;
        &--title1 {
            padding-left: 4px;
            font-family: 'proxima_novaregular', sans-serif;
            font-size: 15px;
            letter-spacing: 0.32em;
            color: $titleboxTitle1;
            text-transform: uppercase;
        }
        &--title2 {
            padding-left: 4px;
            border-bottom: 3px solid $titleboxBorder;
            font-family: 'playfair_displayregular', serif;
            font-size: 48px;
            letter-spacing: 0.05em;
            padding-bottom: 12px;
            color: $titleboxTitle2;
        }
        &--inputcursor {
            content: "";
            height: 48px;
            width: 2px;
            background-color: $inputCursor;
            position: absolute;
            left: 450px;
            bottom: 64px;
            cursor: pointer;
        }
    }
    /* section EDITOR  */
    &__editor {
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 810px;
        height: 77px;
        padding-left: 40px;
        top: 236px;
        right: 0;
        background-color: $editorBackground;
        &--iconbtn {
            background-color: transparent;
            border: none;
            width: 40px;
            height: 40px;
            margin-right: 20px;
            overflow: hidden;
            text-decoration: none;
            cursor: pointer;
            @include transition;
            &--img {
                width: 100%;
                height: 100%;
                opacity: 0.5;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    /* section EDITOR  */
    &__content {
        background-color: $contentBackground;
        width: 100%;
        max-width: 1061px;
        height: 751px;
        position: absolute;
        top: 149px;
        padding: 200px 122px 0 125px;
        &--verticalline {
            border-right: 2px solid $contentBorder;
            width: 100%;
            max-width: 69px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        &--data {
            margin-bottom: 30px;
            font-family: 'proxima_novaregular', sans-serif;
            font-size: 20px;
            letter-spacing: 0.219em;
            color: $contentData;
            text-transform: uppercase;
        }
        &--title {
            font-family: 'FuturaPT Heavy', sans-serif;
            font-size: 76px;
            letter-spacing: 0.053;
            text-transform: uppercase;
            color: $contentTitle;
        }
        &--subtitle {
            margin-bottom: 42px;
            font-style: italic;
            font-size: 30px;
            color: $contentSubtitle;
        }
        &--paragraph {
            font-size: 26.92px;
            line-height: 40.38px;
            padding-bottom: 25px;
            text-align: justify;
        }
    }
}