* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

:active,
 :hover,
 :focus {
    outline: 0;
    outline-offset: 0;
}