$background: #ffffff;
$backgroundText: #aeaeae;
$containerbackColor: #9789f9;
$price-cardColor: #f5f4f9;
$curvshapeColor: #ffffff;
$price-cardtextColor: #181818;
$btnsmallColor: #6fcffb;
$btnColor: #fd8d7b;
$discountColor: #aeaeae;
$circlepopilarColor: #fd8d7b;
$popularmarkColor: #3b4040;