.pricing {
    min-height: 1200px;
    background: url('./../img/prising-bg.png') center / cover no-repeat;
    &__container {
        min-height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__title {
        text-transform: uppercase;
        color: $black;
        font-size: 30px;
        font-family: 'Open Sans';
        font-weight: 700;
        margin-bottom: 180px;
        margin-top: 145px;
        position: relative;
        z-index: 2;
        &:before {
            content: 'pricing';
            position: absolute;
            font-size: 91px;
            font-family: 'Montserrat';
            font-weight: 900;
            top: -52px;
            left: 50%;
            transform: translateX(-50%);
            color: $black;
            z-index: -1;
            opacity: 0.15;
        }
    }
}