.pricing {
    min-height: 1200px;
    background: url('./../img/prising-bg.png') center / cover no-repeat;
    &__container {
        min-height: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__title {
        text-transform: uppercase;
        color: $black;
        font-size: 30px;
        font-family: 'Open Sans';
        font-weight: 700;
        margin-bottom: 180px;
        margin-top: 145px;
        position: relative;
        z-index: 2;
        &:before {
            content: 'pricing';
            position: absolute;
            font-size: 91px;
            font-family: 'Montserrat';
            font-weight: 900;
            top: -52px;
            left: 50%;
            transform: translateX(-50%);
            color: $black;
            z-index: -1;
            opacity: 0.15;
        }
    }
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__item {
        width: 360px;
        height: 693px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-right: 30px;
        background-color: $white1;
        position: relative;
        margin-bottom: 70px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    &__image-wrapper {
        max-width: 100%;
        height: auto;
        display: block;
        overflow: hidden;
    }
    &__btn {
        width: 100%;
        height: 64px;
        position: absolute;
        left: 50%;
        bottom: -68px;
        transform: translateX(-50%);
        font-size: 14px;
        font-family: 'Montserrat';
        font-weight: 400;
        color: $darkGray;
        border: 1px solid transparent;
        background-color: $white1;
        @include transition(0.4s);
        cursor: pointer;
        &:hover {
            color: $yellow;
            background-color: $black;
            border: 1px solid $black;
            font-size: 18px;
        }
    }
}