.work {
    // min-height: 950;
    background-color: $yellow;
    overflow: auto;
    &__container {
        // min-height: 950px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__title {
        text-transform: uppercase;
        color: $black;
        font-size: 30px;
        font-family: 'Open Sans';
        font-weight: 700;
        margin-bottom: 65px;
        margin-top: 150px;
        position: relative;
        z-index: 2;
        &:before {
            content: 'work';
            position: absolute;
            font-size: 91px;
            font-family: 'Montserrat';
            font-weight: 900;
            top: -52px;
            left: 50%;
            transform: translateX(-50%);
            color: $black;
            z-index: -1;
            opacity: 0.15;
        }
    }
    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 58px;
    }
    &__nav-btn {
        width: 41px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $black;
        background-color: $black;
        margin-right: 7px;
        &:hover {
            border: 1px solid $black;
            background-color: transparent;
        }
    }
    &__nav-icon {
        color: $white1;
        font-size: 20px;
        &:hover {
            color: $black;
        }
    }
    &__nav-link {
        display: table;
        width: 93px;
        height: 35px;
        border: 1px solid $black;
        margin-right: 7px;
        @include transition(0.4s);
        cursor: pointer;
        &:last-of-type {
            margin-right: 0;
        }
        &--width100 {
            width: 100px;
        }
        &--width105 {
            width: 105px;
        }
        &--width110 {
            width: 110px;
        }
        &:hover {
            color: $yellow;
            background-color: $black;
            border: 1px solid $black;
        }
    }
    &__nav-link-item {
        display: table-cell;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: $black;
        font-size: 13px;
        font-family: 'Montserrat';
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        &:hover {
            color: $yellow;
        }
    }
    &__image-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;
    }
    &__image {
        width: 25%;
        flex-grow: 1;
        position: relative;
        &:hover {
            .work__image-overlay {
                opacity: 1;
                pointer-events: auto;
                @include transition(0.5s);
                cursor: pointer;
            }
        }
    }
    &__image-overlay {
        position: absolute;
        width: 100%;
        height: 64px;
        background-color: rgba(255, 255, 255, 0.9);
        bottom: 0;
        left: 50%;
        // left: calc(50% + 1px);
        transform: translate(-50%, 0%);
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        opacity: 0;
        pointer-events: none;
    }
    &__overlay-image-title {
        color: $darkGray;
        font-size: 16px;
        font-family: 'Montserrat';
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        margin-right: 2px;
    }
    &__overlay-image-subtitle {
        color: $darkGray;
        font-size: 9px;
        font-family: 'Open Sans';
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.04em;
    }
    &__overlay-link-block {
        position: absolute;
        width: 96px;
        height: 22px;
        bottom: 64px;
        right: 20px;
        border-radius: 20px 20px 0 0;
        background-color: rgba(255, 255, 255, 0.9);
        &:before {
            position: absolute;
            content: '';
            width: 96px;
            height: 1px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: $lightGray1;
        }
    }
    &__overlay-link-round {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        position: absolute;
        border: 1px solid $black;
        top: 9px;
        background-color: $white1;
        display: table;
        @include transition(0.4s);
        cursor: pointer;
        z-index: 1;
        &--left {
            left: 9px;
        }
        &--right {
            right: 9px;
        }
        &:hover {
            background-color: $yellow;
            border: 1px solid $yellow1;
        }
    }
    &__overlay-link {
        display: table-cell;
        color: $black;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        padding: 0 2px 0 0;
    }
}