// Colors
$black: #000;
$base-text-color: $black;
$white: #ffffff;
$white1: #fbfbfb;
$blue: #196fc0;
$blue1: #004b91;
$blue2: #4187c7;
$blue3:#69a1d6;
$gray: #666666;
$gray2: #999999;
$gray3: #555555;
$lightGray: #e5e5e5;
$lightGray1: #eeeeee;
$lightGray2: #cccccc;
$lightGray3: #dddddd;
$lightGray4: #f6f6f6;
$red: #f7635f;
$yellow: #f7c573;
$green: #9dcb7d;