// Colors
$black: #000;
$base-text-color: $black;
$white: #ffffff;
$blue: #196fc0;
$blue1: #004b91;
$blue2: #4187c7;
$gray: #666666;
$gray2: #999999;
$lightGray: #e5e5e5;
$lightGray1: #eeeeee;
$lightGray2: #cccccc;